@page
@model COMP3000RotaEasy.Pages.StoreShifts.IndexModel
@{
    ViewData["Title"] = "Store Shifts";
}

@section PageTitle{
    <h1 style="text-align:center; font-size:x-large;">Store Shifts</h1>
}

    <h3>Current Week</h3>

    <table class="table">
        <tr>
            <th>Monday</th>
            <th>Role</th>
            <th>Shift</th>
        </tr>
        <tr>
            <td>Aksa</td>
            <td>Management</td>
            <td>6am - 13pm</td>
        </tr>
        <tr>
            <td>Sarah</td>
            <td>Baker</td>
            <td>6am - 13pm</td>
        </tr>
        <tr>
            <td>James</td>
            <td>CTM</td>
            <td>10am - 18pm</td>
        </tr>
        <tr>
            <th>Tuesday</th>
            <th>Role</th>
            <th>Shift</th>
        </tr>
        <tr>
            <td>Aksa</td>
            <td>Management</td>
            <td>6am - 13pm</td>
        </tr>
        <tr>
            <td>Sarah</td>
            <td>Baker</td>
            <td>6am - 13pm</td>
        </tr>
        <tr>
            <td>James</td>
            <td>CTM</td>
            <td>10am - 18pm</td>
        </tr>
        <tr>
            <th>Wednesday</th>
            <th>Role</th>
            <th>Shift</th>
        </tr>
        <tr>
            <td>Aksa</td>
            <td>Management</td>
            <td>6am - 13pm</td>
        </tr>
        <tr>
            <td>Sarah</td>
            <td>Baker</td>
            <td>6am - 13pm</td>
        </tr>
        <tr>
            <td>James</td>
            <td>CTM</td>
            <td>10am - 18pm</td>
        </tr>
    </table>