<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RotaEasy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" type="text/css"/>

    @RenderSection("Styles", required: false)
</head>
<body style="background-color: white;">
    <header>
        <nav class="border-bottom box-shadow mb-3" style="background-color: #667F97; color: white;">
            <div class="row">
                <div class="col" style="text-align:left;">
                    <img src="~/img/Logo.png" alt="RotaEasy Logo" />
                    <a style="color: white; font-size: xx-large; margin: 20px" asp-page="/Index">RotaEasy</a>
                </div>
                <div>
                    <ul>
                        <li><a class="dropdown-item" asp-page="/Dashboard">Dashboard</a></li>
                        <li><a class="dropdown-item" asp-page="/Index">Home</a></li>
                        <li><a class="dropdown-item" asp-page="/Timetable">Timetable</a></li>
                        <li><a class="dropdown-item" asp-page="/Employees">Employees</a></li>
                        <li><a class="dropdown-item" asp-page="/Store">Store</a></li>
                        <li><a class="dropdown-item" asp-page="/Calendar">Calendar</a></li>
                        <li><a class="dropdown-item" asp-page="/Links">Helpful Links</a></li>
                        <li><a class="dropdown-item" asp-page="/Settings">Settings</a></li>
                    </ul>
                </div>
                <div class="btn-group dropdown col" style="text-align:right;">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="MenuDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MENU</button>
                    <div class="dropdown-menu" aria-labelledby="MenuDropDown">
                        <ul>
                            <li><a class="dropdown-item" asp-page="/Dashboard">Dashboard</a></li>
                            <li><a class="dropdown-item" asp-page="/Index">Home</a></li>
                            <li><a class="dropdown-item" asp-page="/Timetable">Timetable</a></li>
                            <li><a class="dropdown-item" asp-page="/Employees">Employees</a></li>
                            <li><a class="dropdown-item" asp-page="/Store">Store</a></li>
                            <li><a class="dropdown-item" asp-page="/Calendar">Calendar</a></li>
                            <li><a class="dropdown-item" asp-page="/Links">Helpful Links</a></li>
                            <li><a class="dropdown-item" asp-page="/Settings">Settings</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div style="border-radius: 25px; background-color: #475F6D; margin:30px; margin-top: 10px; margin-bottom: 10px;">
                @RenderBody()
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - RotaEasy - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    @*<script>
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown()
        });
    </script>*@

    @RenderSection("Scripts", required: false)
</body>
</html>
