@page
@model COMP3000RotaEasy.Pages.CalendarModel;
@{
    ViewData["Title"] = "Calendar";
}

@section Styles {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.css">
}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.js"></script>
}


<!--INITIALISE FULL CALENDAR-->
<script>
    //initialise full calendar (v5.11.0)
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth'
        });
        calendar.render();
    });

    //

</script>

<div id="calendar">

</div>
<div>
    
</div>





