@page
@model COMP3000RotaEasy.Pages.CalendarModel
@{
    ViewData["Title"] = "Calendar";
}

<div style="background-color: #475F6D; border-radius: 25px; padding: 10px; margin: 20px;">
    @section PageTitle {
        <h1 style="text-align:center; font-size:xx-large; font-family:'Times New Roman'; color: black;">CALENDAR</h1>
    }


</div>