@page
@model COMP3000RotaEasy.Pages.CalendarModel
@{
    ViewData["Title"] = "Calendar";
}

@section Styles {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.css">
}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.js"></script>
}

@section PageTitle{ 
    <h1 style="text-align:center; font-size:x-large;">CALENDAR</h1>
}
<script>

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth'
        });
        calendar.render();
    });

</script>

<div id="calendar">

</div>