@page
@model COMP3000RotaEasy.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<div style="border-radius: 15px; background-color: #475F6D; margin:10px; margin-top: 10px; margin-bottom: 10px;" class="card">
    @section PageTitle{
        <h1 style="text-align:center; font-size:x-large;">DASHBOARD</h1>
    }
    <style>
        .buttonLight {
            background-color: #E2E8ED;
            padding: 5px;
            margin: 10px;
            width: 146px;
            height: 170px;
            border-radius: 10px;
            border: none;
            font-size: x-large;
            font-family: 'Times New Roman';
        }

        .buttonDark {
            background-color: #86AAB6;
            padding: 5px;
            margin: 10px;
            width: 146px;
            height: 170px;
            border-radius: 10px;
            border: none;
            font-size: x-large;
            font-family: 'Times New Roman';
        }
    </style>

    @* BUTTONS *@
    <div class="container-fluid">
        <form method="get">

            <div class="row">
                <div class="col-xs-auto" style="text-align:center">
                    <button class="buttonLight" asp-page="./Index">HOME</button>
                </div>

                <div class="col-xs-auto" style="text-align:center">
                    <button class="buttonDark" asp-page="./StoreShifts">STORE SHIFTS</button>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-auto" style="text-align:center">
                    <button class="buttonDark" asp-page="./Profile">PROFILE</button>
                </div>

                <div class="col-xs-auto" style="text-align:center">
                    <button class="buttonLight" asp-page="/EmployeeShifts/Index">YOUR SHIFTS</button>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-auto" style="text-align:center">
                    <button class="buttonLight" asp-page="./Calendar">CALENDAR</button>
                </div>

                <div class="col-xs-auto" style="text-align:center">
                    <button class="buttonDark" asp-page="./Links">HELPFUL LINKS</button>
                </div>
            </div>
        </form>
    </div>

</div>