@page
@model COMP3000RotaEasy.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<div style="border-radius: 25px; background-color: #475F6D; margin:30px; margin-top: 10px; margin-bottom: 10px;" class="card">
    @section PageTitle{
        <h1 style="text-align:right; font-size:xx-large;">DASHBOARD</h1>
    }
    <style>
        .buttonLight {
            background-color: #E2E8ED;
            padding: 10px;
            margin: 20px;
            width: 250px;
            height:160px;
            border-radius: 25px;
            border: none;
            font-size:x-large;
            font-family:'Times New Roman';
        }
        .buttonDark {
            background-color: #86AAB6;
            padding: 10px;
            margin: 20px;
            width: 250px;
            height: 160px;
            border-radius: 25px;
            border: none;
            font-size: x-large;
            font-family: 'Times New Roman';
        }
    </style>

    @* BUTTONS *@
    <div class="container-fluid">
        <form method="get">
            <div class="row">
                <div class="col-sm" style="text-align:center">
                    <button class="buttonLight" asp-page="./Employees">EMPLOYEES</button>               
                </div>
                <div class="col-sm" style="text-align:center">
                    <button class="buttonDark" asp-page="./Stores">STORE</button>    
                </div>
                <div class="col-sm" style="text-align:center">
                    <button class="buttonLight" asp-page="/Timetable">TIMETABLE</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm" style="text-align:center">
                    <button class="buttonDark" asp-page="./Calendar">CALENDAR</button>
                </div>
                <div class="col-sm" style="text-align:center">
                    <button class="buttonLight" asp-page="./Index">HOME</button>
                </div>
                <div class="col-sm" style="text-align:center">
                    <button  class="buttonDark" asp-page="./Links">HELPFUL LINKS</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm" style="text-align:center">
                </div>
                <div class="col-sm" style="text-align:center">
                    <button class="buttonDark" asp-page="./Settings">SETTINGS</button>
                </div>
                <div class="col-sm" style="text-align:center">
                </div>
            </div>
        </form>
    </div>

</div>