@page
@model COMP3000RotaEasy.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<div>
    <div style="width:95%; height: 95%">
        <div class="row" style="margin: 20px;">
            <div class="col" id="employeeBtn" style="border-radius: 25px; background-color: #86AAB6; margin: 30px; text-align: center;">
                <h1>EMPLOYEES</h1>
            </div>
            <div class="col" id="storeBtn" style="border-radius: 25px; background-color: #E2E8ED; margin: 30px; text-align: center;">
                <h1>STORE</h1>
            </div>
            <div class="col" id="timetableBtn" style="border-radius: 25px; background-color: #86AAB6; margin: 30px;  text-align: center;">
                <h1>TIMETABLE</h1>
            </div>
        </div>
        <div class="row" style="margin: 20px;">
            <div class="col" id="calendarBtn" style="border-radius: 25px; background-color: #E2E8ED; margin: 30px; text-align: center;">
                <h1>CALENDAR</h1>
            </div>
            <div class="col" id="homeBtn" style="border-radius: 25px; background-color: #86AAB6; margin: 30px; text-align: center;">
                <h1>HOME</h1>
            </div>
            <div class="col" id="linksBtn" style="border-radius: 25px; background-color: #E2E8ED; margin: 30px; text-align: center;">
                <h1>Helpful Links</h1>
            </div>
        </div>
        <div class="row" style="margin: 20px;">
            <div class="col">
            </div>
            <div class="col-auto" id="settingsBtn" style="border-radius: 25px; background-color: #E2E8ED; margin: 30px; text-align: center; ">
                <h1>SETTINGS</h1>
            </div>
            <div class="col">
            </div>
        </div>

    </div>
</div>