@page
@model COMP3000RotaEasy.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<div>
    <div class="container">
        <div class="row" style="margin: 20px;">
            <div class="col" style="border-radius: 25px; background-color: #86AAB6; margin: 15px; text-align: center;">
                <h1>EMPLOYEES</h1>
            </div>
            <div class="col" style="border-radius: 25px; background-color: #E2E8ED; margin: 15px; text-align: center;">
                <h1>STORE</h1>
            </div>
            <div class="col" style="border-radius: 25px; background-color: #86AAB6; margin: 15px; text-align: center;">
                <h1>TIMETABLE</h1>
            </div>
        </div>
        <div class="row" style="margin: 20px;">
            <div class="col" style="border-radius: 25px; background-color: #E2E8ED; margin: 15px; text-align: center;">
                <h1>CALENDAR</h1>
            </div>
            <div class="col" style="border-radius: 25px; background-color: #86AAB6; margin: 15px; text-align: center;">
                <h1>HOME</h1>
            </div>
            <div class="col" style="border-radius: 25px; background-color: #E2E8ED; margin: 15px; text-align: center;">
                <h1>Helpful Links</h1>
            </div>
        </div>
        <div class="row" style="margin: 20px;">
            <div class="col">
            </div>
            <div class="col-auto" style="border-radius: 25px; background-color: #E2E8ED; margin: 15px; text-align: center; ">
                <h1>SETTINGS</h1>
            </div>
            <div class="col">
            </div>
        </div>

    </div>
</div>