@page
@model COMP3000RotaEasy.Pages.EmployeesModel
@{
    ViewData["Title"] = "Employees";
}

<div style="border-width: 10px; color:azure">
    <h1>HELLO THIS IS A PRACTIVE EMPLOYEES PAGE.</h1>
</div>