@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />

</head>

<div style="border-radius: 15px; background-color: #475F6D; margin:10px; margin-top: 10px; margin-bottom: 10px;">
    @section PageTitle
    {
        <h1 style="text-align:right; font-size:xx-large;">HOME</h1>
    }

    

    <div style="color: white; padding:5px; margin:10px;">
        <form>
            <p>Your next Pay Day is scheduled for:</p>
            
        </form>
    </div>
</div>