@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div id="notifications" class="card" style="border-radius: 20px; background-color: #5B7787; margin:50px;margin-top: 50px; margin-bottom: 50px;">
    <h1 style="font-family: 'Times New Roman', Times, serif; text-align:center; color:white;">NOTIFICATION CENTRE</h1>
</div>

