@page
@model COMP3000RotaEasy.Pages.LinksModel
@{
    ViewData["Title"] = "Helpful Links";
}

@section PageTitle
    {
    <h1 style="text-align:right; font-size:xx-large;">OTHER LINKS</h1>
}

<div style="background-color: #475F6D; border-radius: 25px; padding: 10px; margin: 20px;">
    <div style="color:white; padding:40px; margin:10px">
        <b>This area has been created for future work. </b>
        <p>
            A small example has been created to show the potentials of this page.
        </p>
    </div>
</div>

<div style="background-color: #475F6D; border-radius: 25px; padding: 10px; margin: 20px;">

    <div class="card" style="background-color: #5B7787; color: white; border-radius: 25px;">
        <h2 style="margin:5px;">Health and Wellbeing</h2>

        <div style="padding: 10px; margin: 10px; background-color: #E2E8ED; border-radius: 25px; text-align: center; ">
            <ul>
                <li><a href="https://nichs.org.uk/our-support-services/prevention-services/workplace-health-and-well-being">NICHS</a></li>
                <li><a href="https://www.hseni.gov.uk/topic/mental-well-being-work">Mental Wellbeing at work</a></li>
            </ul>
        </div>

    </div>
</div>

<div style="background-color: #475F6D; border-radius: 25px; padding: 10px; margin: 20px;">

    <div class="card" style="background-color: #5B7787; color: white; border-radius: 25px;">
        <h2 style="margin:5px;">Financial Guidance</h2>

        <div style="padding: 10px; margin: 10px; background-color: #E2E8ED; border-radius: 25px; text-align: center; ">
            <a href="https://moneyandpensionsservice.org.uk/financial-wellbeing-in-the-workplace/">Financial Wellbeing in the Workplace</a>
        </div>

    </div>
</div>

<div style="background-color: #475F6D; border-radius: 25px; padding: 10px; margin: 20px;">

    <div class="card" style="background-color: #5B7787; color: white; border-radius: 25px;">
        <h2 style="margin:5px;">Social</h2>

        <div style="padding: 10px; margin: 10px; background-color: #E2E8ED; border-radius: 25px; text-align:center;">
            <a href="https://www.gov.uk/government/publications/helping-people-with-mental-health-problems-find-work">Helping People With Mental Health</a>
        </div>

    </div>
</div>