@page
@model COMP3000RotaEasy.Pages.SettingsModel
@{
    ViewData["Title"] = "Settings";
}


<h1 style="font-family:'Times New Roman', Times, serif; font-size:xx-large;">Settings</h1>

<div style="background-color: #475F6D; border-radius: 25px; padding: 10px; margin: 20px;">
    <div style="color:white; padding:40px; margin:10px">
        <b>This area has been created for future work.</b>
        <p>
            The manager will be able to make a login / register, this settings page will then act as a user profile.
            Allowing for settings which interact with the rest of the system, such as: theme, accessibility features, and deletion of the admin account.
        </p>
    </div>
</div>