@page
@model COMP3000RotaEasy.Pages.SettingsModel
@{
    ViewData["Title"] = "Settings";
}

<div>
    <button class="btn">Your Account</button>
</div>

<div style="background-color: #475F6D; border-radius: 25px; padding: 10px; margin: 20px;">
    @section PageTitle {
        <h1 style="text-align:center; font-size:xx-large; font-family:'Times New Roman'; color: black;">SETTINGS</h1>
    }
</div>