@page
@model COMP3000RotaEasy.Pages.StoresModel
@{
    ViewData["Title"] = "Your Store";
}
<div style="border-radius: 25px; background-color: #475F6D; margin:30px; margin-top: 10px; margin-bottom: 10px;" class="card">
    <div style="padding:10px; margin:10px; color:white;">
        <h1 style="font-family:'Times New Roman', Times, serif; color:white;">STORE DETAILS</h1>

        <div style="background-color: #5B7787; padding:10px; margin:10px; border-radius:25px;">
            <form class="form-group">
                <div class="form-group">
                    <label for="storeNum">Store Number</label>
                    <input type="text" id="storeNum" />
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input type="text" id="location" />
                </div>
                <div class="form-group">
                    <label for="openingTimes">Opening Times</label>
                    <input type="text" id="openingTimes" />
                </div>
                <div class="form-group">
                    <label for="closingTimes">Closing Times</label>
                    <input type="text" id="closingTimes" />
                </div>
                <div class="form-group">
                    <label for="managers">Managers</label>
                    <input type="text" />
                </div>
                <div class="form-group">
                    <label for="supervisors">Supervisors</label>
                    <input type="text" />
                </div>
                <div class="form-group">
                    <label>Shift Roles</label>
                    <input type="text" />
                </div>
            </form>
        </div>
    </div>
</div>
