@page
@model COMP3000RotaEasy.Pages.TimetableModel
@{
    ViewData["Title"] = "Timetable";
}

<div style="border-radius: 25px; background-color: #475F6D; margin:30px; margin-top: 10px; margin-bottom: 10px;" class="card">

    @section PageTitle{
        <h1 style="text-align:right; font-size:x-large;">YOUR SHIFTS</h1>
    }

    <div style="padding:10px; margin:10px; color:white;">

        <p>Week Number: </p>
        <div class="card" style="background-color:white; padding:2px;">

        </div>
        <div style="text-align:right; margin: 10px;">
            <button class="btn-lg" style="background-color: #54A3FF; color:white; font-family: 'Times New Roman'; border-radius:25px; padding:10px; margin:5px; border:none;" type="button">EDIT</button>
            <button class="btn-lg" style="background-color: #54A3FF; color:white; font-family: 'Times New Roman'; border-radius:25px; padding:10px; margin:5px; border:none;" type="button">REGENERATE</button>
        </div>
        <div class="table-responsive" style="background-color: #5B7787; padding:15px; border-radius:25px">
            <table class="table table-bordered table-hover" style="color:white; text-align:center; padding: 5px; border-radius: 25px;">
                <thead>
                    <tr>
                        <th scope="col">Employee Number</th>
                        <th scope="col">Colleague Name</th>
                        <th scope="col">Contracted Hrs</th>
                        <th scope="col" colspan="7" style="text-align:center">Date</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                        <th>Saturday</th>
                        <th>Sunday</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>